.wrapper {
    display: flex;
    justify-content: center;
}

.hike-form {
    margin: 10px;
    justify-content: center;
}

.input-label {
    margin-right: 10px;
    margin-top: 10px;
}

.form-item {
    margin-top: 10px;
}

